<div class="pull-left">
  <i class="glyphicon glyphicon-arrow-left"></i> <%= link_to "Go To Projects"  , projects_path %>
</div>
  <%= render 'search_milestone' %>
<div class="panel panel-default">
  <div class="panel-heading"><h3>Milestones</h3></div>
  <div class="panel-body">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-list-search table-hover">
          <div class="pull-right">
            <%= link_to 'New Milestone', new_project_milestone_path(@project) , :class => "btn btn-info" %>
          </div>
          <br>
          <br>
          <br>
          <thead>
            <tr>
              <th><%= sort_link(@q, :name) %></th>
              <th>Description</th>
              <th>Start date</th>
              <th>End date</th>
              <th colspan="3">Manage</th>
            </tr>
          </thead>
          <tbody>
          <%if @q.result.present? %>
            <% @q.result.each do |milestone| %>
              <tr>
                <td><%= milestone.name %></td>
                <td><%= milestone.description %></td>
                <td><%= milestone.start_date %></td>
                <td><%= milestone.end_date %></td>
                <td><%= link_to '', project_milestone_path(project_id: milestone.projects.last.id , id: milestone.id) , :class => "glyphicon glyphicon-eye-open" , :title => "Show" %></td>
                <td><%= link_to '', edit_project_milestone_path(project_id: milestone.projects.last.id , id: milestone.id) , :class => "glyphicon glyphicon-wrench" , :title => "Edit" %></td>
                <td><%= link_to '', project_milestone_path(project_id: milestone.projects.last.id , id: milestone.id), method: :delete, data: { confirm: 'Are you sure?' } , :class => "glyphicon glyphicon-trash" , :title => "Destroy" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%#= paginate @q.result %>
        <%end%>
        <br>
        <br>
      </div>
    </div>
  </div>
</div> 