<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @milestone.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @milestone.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @milestone.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @milestone.end_date %>
</p>

<%= link_to 'Edit', edit_project_milestone_path(id: @milestone.id , project_id: @project.id) %> |
<%= link_to 'Back', project_milestones_path(project_id: @project.id) %> | 
<%= link_to 'Add Task' , new_project_milestone_task_path(project_id: @project.id , milestone_id: @milestone.id) %>
