<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    	<div class="pull-right">
		   	<%= link_to 'Edit', edit_project_milestone_path(id: @milestone.id , project_id: @project.id) , :class => "label label-default"  %> |
				<%= link_to 'Back', project_milestones_path(project_id: @project.id) , :class => "label label-default"  %> | 
				<%= link_to 'Add Task' , new_project_milestone_task_path(project_id: @project.id , milestone_id: @milestone.id) , :class => "label label-default" %> | 
				<%= link_to 'View Tasks' , project_milestone_tasks_path(project_id: @project.id , milestone_id: @milestone.id) , :class => "label label-default" %>
				<br>
				<br>
    	</div>
	  	<div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12">
              <p><strong>Milestone Information</strong></p>
            </div>
          </div>
          <hr>
        </div>
	      <div class="container">
			    <div class="row">
			      <div class="col-md-6">
			      
							<p>
							  <strong>Name:</strong>
							  <%= @milestone.name %>
							</p>

							<p>
							  <strong>Description:</strong>
							  <%= @milestone.description %>
							</p>

							<p>
							  <strong>Start date:</strong>
							  <%= @milestone.start_date %>
							</p>

							<p>
							  <strong>End date:</strong>
							  <%= @milestone.end_date %>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>