<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <div class="col-lg-12">
      <div id="login" class="animate form">
        <section class="login_content">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <h1>Sign Up</h1>
            <!-- <div>
              <input type="text" class="form-control" placeholder="Username" required="" />
            </div> -->
<!--             <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="First Name">
              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div> -->
            <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
              <%= f.text_field :first_name, autofocus: true , :placeholder => "First Name" , :class => "form-control has-feedback-left" , :id => "inputSuccess2" %>
              <span class="glyphicon glyphicon-user form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
              <%= f.text_field :last_name, autofocus: true , :placeholder => "Last Name" , :class => "form-control has-feedback-left" , :id => "inputSuccess2" %>
              <span class="glyphicon glyphicon-user form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
              <%= f.email_field :email, autofocus: true, :class => "form-control has-feedback-left" , :placeholder => "Email Address " , :required => "" , :id => "inputSuccess4" %>
              <span class="glyphicon glyphicon-envelope form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
              <%= f.password_field :password, autocomplete: "off" , :class => "form-control has-feedback-left" , :placeholder => "Password (minimum 8 characters)" %>
              <span class="glyphicon glyphicon-lock form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
              <%= f.password_field :password_confirmation, autocomplete: "off" , :class => "form-control has-feedback-left" , :placeholder => "Password Confirmation" %>
              <span class="glyphicon glyphicon-lock form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="text-center col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
              <%= f.collection_select :role, User::ROLES, :to_s, :humanize , {prompt: "Select a Role"}, {class: "form-control"} %>
              <br>
            </div>
            <br>
            <div>
              <%= f.submit "Sign up" , :class => "btn btn-info btn-block form col-md-12 col-sm-6 col-xs-12 form-group has-feedback" %>
            </div>
            <div class="clearfix"></div>
            <div class="separator">
              <%- if controller_name != 'sessions' %>
                Already have an account ? <%= link_to "Log in", new_session_path(resource_name) %><br />
              <% end -%>
              <div class="clearfix"></div>
              <br />
            </div>
          <% end %>
        </section>
      </div>
    </div>
  </div>
</div>