<%= form_for([@project,@milestone,@task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= f.text_field :name , :placeholder => "Name" , :class => "form-control" %>
  </div>

  <br>
  
  <div class="form-field">
    <%= f.text_area :description , :class => "form-control" , :placeholder => "Description" %>
  </div>
  
  <br>

  <div class="form-field">
    <%= f.text_field :status , :class => "form-control" , :placeholder => "Project Status" %>
  </div>

  <br>

  <div class="form-field">
    <%= f.text_field :start_date , :class => "datepicker form-control" , :placeholder => "Start Date(mm/dd//yyyy)" %>
  </div>

  <br>
  
  <div class="form-field">
    <%= f.text_field :end_date , :class => "datepicker form-control" , :placeholder => "End Date(mm/dd//yyyy)" %>
  </div>
  
  <br>
  <br>


  <div class="actions">
    <button class="btn btn-info btn-block" type="submit">Submit</button>
  </div>
<% end %>


<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script>

$(document).ready(function() {
    $(".datepicker").datepicker({
      dateFormat: "yy-mm-dd"
    });
});

 </script>