<div class="panel panel-default">
  <div class="panel-heading"><h3>Tasks</h3></div>
  <div class="panel-body">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-list-search table-bordered">
          <div class="pull-right">
            <%= link_to 'New Task', new_project_milestone_task_path(@project,@milestone) , :class => "btn btn-info" %>
          </div>
          <br>
          <br>
          <br>
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Start date</th>
              <th>End date</th>
              <th>Status</th>
              <th colspan="3">Manage</th>
            </tr>
          </thead>

          <tbody>
            <% @tasks.each do |task| %>
              <tr>
                <td><%= task.name %></td>
                <td><%= task.description %></td>
                <td><%= task.start_date %></td>
                <td><%= task.end_date %></td>
                <td><%= task.status %></td>
                <td><%= link_to 'Show', project_milestone_task_path(project_id: @project.id , milestone_id: @milestone.id , id: task.id) %></td>
                <td><%= link_to 'Edit', edit_project_milestone_task_path(project_id: @project.id , milestone_id: @milestone.id , id: task.id) %></td>
                <td><%= link_to 'Destroy', project_milestone_task_path(project_id: @project.id , milestone_id: @milestone.id , id: task.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to "Go To Projects"  , projects_path %> |  
        <%= link_to "Go To Milestones" , project_milestones_path(project_id: @project.id) %>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
