<div class="container">
  <div class="pull-left">
    <i class="fa fa-arrow-left"></i> <%= link_to "Go To Projects"  , projects_path %> |  
      <%= link_to "Go To Milestones" , project_milestones_path(project_id: @project.id) %>
  </div>
  <div class="row tile_count">
    <%= render 'search_task_form' %>
    <div class="panel-heading flex-box flex-vertical-center-align justify-content-space-between">
      <h3 class="col-md-9">Tasks</h3>
    </div>
    <br>
    <div class="container">
      <div class="col-md-12">
        <table class="table table-list-search table-hover">
          <div class="pull-right">
            <% if can? :manage, Milestone %>
              <%= link_to 'New Task', new_project_milestone_task_path(@project,@milestone) , :class => "btn btn-info" %>
            <% end %>
          </div>
          <br>
          <br>
          <br>
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Start date</th>
              <th>End date</th>
              <th>Status</th>
              <th colspan="1" style="width: 260px;">Manage</th>
            </tr>
          </thead>

          <tbody>
            <% @tasks.each do |task| %>
              <tr>
                <td><%= link_to task.name , project_milestone_task_path(project_id: @project.id , milestone_id: @milestone.id , id: task.id) %></td>
                <td><%= task.description %></td>
                <td><%= task.start_date %></td>
                <td><%= task.end_date %></td>
                <td><%= task.status %></td>
                <td><%= link_to raw("<span class='fa fa-wrench'></span>Edit"), edit_project_milestone_task_path(project_id: @project.id , milestone_id: @milestone.id , id: task.id) , :class => "btn btn-info btn-sm" %>
                    <%= link_to raw("<span class='fa fa-trash'></span>Delete"), project_milestone_task_path(project_id: @project.id , milestone_id: @milestone.id , id: task.id), method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger btn-sm" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @tasks %>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
