<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    	<div class="pull-right">
		    <%= link_to 'Edit', edit_project_path(@project) , :class => "label label-default" %> |
			<%= link_to 'Back', projects_path , :class => "label label-default" %> | 
			<%= link_to 'Add Milestone' , new_project_milestone_path(project_id: @project.id) , :class => "label label-default" %> | 
			<%= link_to 'View Milestones' , project_milestones_path(project_id: @project.id) , :class => "label label-default" %>
			<br>
			<br>
    	</div>
	  	<div class="panel panel-default">
        <div class="panel-heading">
        	<div class="row">
          	<div class="col-xs-12">
            	<h3 class="text-center"><strong>Project Information</strong></h3>
          	</div>
	        </div>
        </div>
        <br>
      	<div class="container">
			    <div class="row">
			      	<div class="col-md-12">
							<p>
							  <strong>Name:</strong>
							  <%= @project.name %>
							</p>
							<p>
							  <strong>Description:</strong>
							  <%= @project.description %>
							</p>
							<p>
							  <strong>Start date:</strong>
							  <%= @project.start_date %>
							</p>
							<p>
							  <strong>End date:</strong>
							  <%= @project.end_date %>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>