<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="col-lg-12">
      <div id="login" class="animate form">
        <section class="login_content">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <h1>Login Form</h1> 
             <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
              <%= f.email_field :email, autofocus: true, :class => "form-control has-feedback-left" , :placeholder => "Email Address " , :required => "" , :id => "inputSuccess4" %>
              <span class="glyphicon glyphicon-envelope form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
              <%= f.password_field :password, autocomplete: "off" , :class => "form-control has-feedback-left" , :placeholder => "Password" %>
              <span class="glyphicon glyphicon-lock form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div>
              <% if devise_mapping.rememberable? -%>
                <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>            
               <button type="submit" class="btn btn-success btn-block col-md-12 col-sm-6 col-xs-12 form-group has-feedback">Sign in</button>
            </div>
            <div class="clearfix"></div>
            <div class="separator"></div>
            <div class="clearfix"></div>
            <%= render "devise/shared/links" %>
         <% end %>
        <!-- form -->
        </section>
      <!-- content -->
      </div>
    </div>
  </div>
</div>